.vs/
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.pdb
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.exe
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.csproj.GenerateResource.cache
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.csproj.FileListAbsolute.txt
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.csproj.CoreCompileInputs.cache
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.csproj.AssemblyReference.cache
RandomStartSettings/RandomStartSettings/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RandomStartSettings/RandomStartSettings/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RandomStartSettings/RandomStartSettings/bin/Debug/RandomStartSettings.pdb
RandomStartSettings/RandomStartSettings/bin/Debug/RandomStartSettings.exe
RandomStart/RandomStart/obj/Debug/RandomStart.csproj.FileListAbsolute.txt
RandomStart/RandomStart/obj/Debug/RandomStart.csproj.CoreCompileInputs.cache
RandomStart/RandomStart/obj/Debug/RandomStart.csproj.AssemblyReference.cache
RandomStart/RandomStart/obj/Debug/Random Start.pdb
RandomStart/RandomStart/obj/Debug/Random Start.dll
RandomStart/RandomStart/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RandomStart/RandomStart/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
RandomStart/RandomStart/bin/Debug/Random Start.pdb
RandomStart/RandomStart/bin/Debug/Random Start.dll
.vscode/settings.json
RandomStart/RandomStart/bin/Debug/Random Start.dll
RandomStart/RandomStart/bin/Debug/Random Start.pdb
RandomStart/RandomStart/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RandomStart/RandomStart/obj/Debug/Random Start.dll
RandomStart/RandomStart/obj/Debug/Random Start.pdb
RandomStart/RandomStart/obj/Debug/RandomStart.csproj.AssemblyReference.cache
RandomStart/RandomStart/obj/Debug/RandomStart.csproj.CoreCompileInputs.cache
RandomStart/RandomStart/obj/Debug/RandomStart.csproj.FileListAbsolute.txt
RandomStartSettings/RandomStartSettings/bin/Debug/RandomStartSettings.exe
RandomStartSettings/RandomStartSettings/bin/Debug/RandomStartSettings.pdb
RandomStartSettings/RandomStartSettings/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.csproj.AssemblyReference.cache
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.csproj.CoreCompileInputs.cache
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.csproj.FileListAbsolute.txt
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.csproj.GenerateResource.cache
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.exe
RandomStartSettings/RandomStartSettings/obj/Debug/RandomStartSettings.pdb
